footer 
{
    background: linear-gradient(rgb(0, 110, 255), rgba(115, 202, 236, 0.712));
}
footer .fa-mobile-alt , footer .fa-envelope
{
    font-size:1.2em;
}
footer .fa-linkedin-in 
{
    background-color: #0e76a8;
}
footer .fa-twitter 
{
    background-color: #00acee;
    
}

footer .fa-whatsapp
{
    background-color: #4ced69;
    
}

footer .fa-twitter,
footer .fa-linkedin-in,
footer .fa-whatsapp
{
    border: solid 2px white;
}