#formacion
{
    background: linear-gradient(rgb(58, 151, 58), rgb(193, 240, 193))
}
#habilidades
{
 background: linear-gradient(rgb(70, 70, 218),rgb(170, 230, 238));
}
#experiencia
{
    background: linear-gradient( rgba(12, 1, 1, 0.836), rgba(53, 52, 52, 0.836));
}